@using ManagementMeetingsTracker.Resources;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        @Labels.MeetingScheduler</h1>
    <p class="lead">Capture and track your important meetings.</p>
</div>