<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ManagementMeetingsEntities" connectionString="metadata=res://*/ManagementMeetings.csdl|res://*/ManagementMeetings.ssdl|res://*/ManagementMeetings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Management_Meetings;user id=sa;password=Bill#777187;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>